html,
body {
  height: 100%;
}
body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #F5F5F5;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  box-shadow: 0px 0px 15px 0px #888888;
  border-radius: 5px;
}
.form-content-container {
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.banner-image {
  width: 100%;
  max-width: 100%;
}
.translationOutputContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}
.buttonload {
  background-color: #024FA1; /* Green background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
}
.translationOutputContainer span {
  display: inline-block;
  width: 100%;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-imageContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-error-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.image-renderer{
  max-width: 100%;
  width: 100%;
}

.forms{
  padding-top: 100px;
}

@media screen and (max-width: 768px) {
  .image-error-container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .image-renderer{
   margin-bottom: 20px;
  }

  .forms{
    padding-top: 50px;
  }
}
