<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    <title>Ron-Slai-ter</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
        integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <!-- JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
    <!-- Custom styles for this template -->
    <link href="../static/stylesheets/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="text-center">
    <form class="form-signin">
        <img class="banner-image" src="../static/images/banner-image.jpg" alt="">
        <div class="form-content-container">
            <h1 class="h5 mb-6 mt-3 font-weight-normal">Welcome to Ron-Slai-ter</h1>
            <label for="translateText" class="h3 mb-3 font-weight-normal">Enter English Text</label>
            <input type="text" id="translateText" class="form-control" placeholder="Enter Text To Translate" required
                autofocus>
            <button onclick="callTranslation(event)" class="btn btn-lg btn-primary btn-block mt-2" id="btnText"
                type="submit">Translate</button>
            <div class="translationOutputContainer">
                <span id="englishEntry" class="mb-3"></span>
                <span id="frenchTranslation" class="mb-3"></span>
            </div>
        </div>
    </form>
</body>
<script>
    function callTranslation(e) {
        e.preventDefault();
        var englishEntryPlace = document.getElementById("englishEntry")
        var frenchTranslationEntry = document.getElementById("frenchTranslation")
        var translation = document.getElementById("translateText").value
        var btnText = document.getElementById("btnText")
        btnText.innerHTML = '<i class="fa fa-refresh fa-spin"></i>'
        englishEntryPlace.innerHTML = "";
        frenchTranslationEntry.innerHTML = ""
        const headers = new Headers({
            "Content-Type": "application/x-www-form-urlencoded"
        });
        const urlencoded = new URLSearchParams({
            "toTranslate": translation,
        });
        var opts = {
            method: 'POST',
            headers: headers,
            body: urlencoded,
        }
        fetch('/v1/predict', opts).then(async response => {
            const data = await response.json()
            var translated = data.translated;
            englishEntryPlace.innerHTML = translation;
            frenchTranslationEntry.innerHTML = translated;
            btnText.innerHTML = "Translate"
        });
    };
</script>
</html>